In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly as ptly
import plotly.figure_factory as ff
from plotly import express as px

In [2]:
#df = pd.read_csv(r'C:\Users\allen.hoskins\OneDrive - Chick-fil-A, Inc\Documents\GitHub\archive\airline_merged.csv',low_memory = False)
df = pd.read_csv(r'/Users/allen/Documents/GitHub/ML7331-Lab1/airline_merged.csv',low_memory=False)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df.head()

,Unnamed: 0,year,month,day,day_of_week,airline_cd,airline_name,flight_number,tail_number,origin_airport,airport_origin,city_origin,state_origin,country_origin,latitude_origin,longitude_origin,destination_airport,airport_destination,city_destination,state_destination,country_destination,latitude_destination,longitude_destination,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
0,0,2015,1,1,4,AS,Alaska Airlines Inc.,98,N407AS,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015,1,1,4,AA,American Airlines Inc.,2336,N3KUAA,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807,PBI,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015,1,1,4,US,US Airways Inc.,840,N171US,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015,1,1,4,AA,American Airlines Inc.,258,N3HYAA,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807,MIA,Miami International Airport,Miami,FL,USA,25.79325,-80.29056,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015,1,1,4,AS,Alaska Airlines Inc.,135,N527AS,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#info on columns
print(df.info(show_counts = True, verbose = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 45 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             5819079 non-null  int64
 1   year                   5819079 non-null  int64
 2   month                  5819079 non-null  int64
 3   day                    5819079 non-null  int64
 4   day_of_week            5819079 non-null  int64
 5   airline_cd             5819079 non-null  object
 6   airline_name           5819079 non-null  object
 7   flight_number          5819079 non-null  int64
 8   tail_number            5804358 non-null  object
 9   origin_airport         5819079 non-null  object
 10  airport_origin         5332914 non-null  object
 11  city_origin            5332914 non-null  object
 12  state_origin           5332914 non-null  object
 13  country_origin         5332914 non-null  object
 14  latitude_origin        5328309 non-null  float64
 15  longitude_origin       5328309 non-null  float64
 16  destination_airport    5819079 non-null  object
 17  airport_destination    5332914 non-null  object
 18  city_destination       5332914 non-null  object
 19  state_destination      5332914 non-null  object
 20  country_destination    5332914 non-null  object
 21  latitude_destination   5328304 non-null  float64
 22  longitude_destination  5328304 non-null  float64
 23  scheduled_departure    5819079 non-null  int64
 24  departure_time         5732926 non-null  float64
 25  departure_delay        5732926 non-null  float64
 26  taxi_out               5730032 non-null  float64
 27  wheels_off             5730032 non-null  float64
 28  scheduled_time         5819073 non-null  float64
 29  elapsed_time           5714008 non-null  float64
 30  air_time               5714008 non-null  float64
 31  distance               5819079 non-null  int64
 32  wheels_on              5726566 non-null  float64
 33  taxi_in                5726566 non-null  float64
 34  scheduled_arrival      5819079 non-null  int64
 35  arrival_time           5726566 non-null  float64
 36  arrival_delay          5714008 non-null  float64
 37  diverted               5819079 non-null  int64
 38  cancelled              5819079 non-null  int64
 39  cancellation_reason    89884 non-null    object
 40  air_system_delay       1063439 non-null  float64
 41  security_delay         1063439 non-null  float64
 42  airline_delay          1063439 non-null  float64
 43  late_aircraft_delay    1063439 non-null  float64
 44  weather_delay          1063439 non-null  float64
dtypes: float64(20), int64(11), object(14)
memory usage: 2.0+ GB
None

In [ ]:
#plotting missing values
# code altered from: https://datavizpyr.com/visualizing-missing-data-with-seaborn-heatmap-and-displot/
plt.figure(figsize=(10,6))
sns.heatmap(df.isna().transpose(),
            cmap="YlGnBu",
            cbar_kws={'label': 'Missing Data'})

In [ ]:
# code altered from: https://datavizpyr.com/visualizing-missing-data-with-seaborn-heatmap-and-displot/
plt.figure(figsize=(10,6))
sns.displot(
    data=df.isna().melt(value_name="missing"),
    y="variable",
    hue="missing",
    multiple="fill",
    aspect=1.25
)

In [ ]:
#removing unwanted column from previous export
df.pop('Unnamed: 0')
df.pop('cancellation_reason')

In [ ]:
#Removing rows where Origin airport is NaN
df = df[df['airport_origin'].notna()]

In [ ]:
#looking at counts after Nan Removal
df.info(verbose = True,show_counts =True)

In [ ]:
#plotting missing values after Nan Removal
# code altered from: https://datavizpyr.com/visualizing-missing-data-with-seaborn-heatmap-and-displot/
plt.figure(figsize=(10,6))
sns.heatmap(df.isna().transpose(),
            cmap="YlGnBu",
            cbar_kws={'label': 'Missing Data'})

In [ ]:
# code altered from: https://datavizpyr.com/visualizing-missing-data-with-seaborn-heatmap-and-displot/
plt.figure(figsize=(10,6))
sns.displot(
    data=df.isna().melt(value_name="missing"),
    y="variable",
    hue="missing",
    multiple="fill",
    aspect=1.25

In [ ]:
# plotting heatmap of numerical columns
plt.figure(figsize=(20,20), dpi= 80)
sns.heatmap(df.corr(), xticklabels=df.corr().columns, yticklabels=df.corr().columns, cmap='RdYlGn', annot=True)

# addting titles and font sizes
plt.title('Correlogram of Airline Satisfaction', fontsize=22)
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)
plt.show()

In [ ]:
#scatter plot grid of power transformed data
scatter_cols = ['year','month','day','day_of_week','flight_number','tail_number',
                'latitude_origin','longitude_origin','latitude_destination','longitude_destination',
                'scheduled_departure','departure_time','departure_delay','taxi_out','wheels_off','scheduled_time','elapsed_time',
                'air_time','distance','wheels_on','taxi_in','scheduled_arrival','arrival_time','arrival_delay','airline_cd']

pair_grid_pwr = sns.PairGrid(df[scatter_cols], hue="airline_cd")
pair_grid_pwr.map_diag(sns.histplot)
pair_grid_pwr.map_upper(sns.scatterplot)
pair_grid_pwr.map_lower(sns.kdeplot)
pair_grid_pwr.add_legend()

In [ ]:
#ALTER FOR NEW COLUMNS
#dual histogram with rug
hist_data_age = [df.loc[df.satisfaction == 'satisfied'].age, df.loc[df.satisfaction == 'neutral or dissatisfied'].age]

group_labels = ['satisfied', 'neutral or dissatisfied']

# Create distplot with custom bin_size
fig_age = ff.create_distplot(hist_data_age, group_labels, bin_size=1, show_hist = True, show_rug = True)
fig_age.update_xaxes(range=[0, 100])
fig_age.update_layout(
    font_size = 15,
    title = 'Age histogram based on Satisfaction',
    title_font_size = 20,
    xaxis_title="Age",
    yaxis_title="Density")

fig_age.show()

In [ ]:
#Dual Violin Plot
sns.catplot(x='class',
               y = 'flight_distance',
               hue='gender',
               palette=['pink','blue'],
               split=True,
               kind = 'violin',
               col = 'satisfaction',
               data = df_cat,
               height =4,
               aspect = .7)

In [ ]:
plt.figure(figsize=(15, 10))
# Create violin plots without mini-boxplots inside.
ax = sns.violinplot(y='flight_distance',
                    x='class',
                    data=df_cat,
                    color='green', 
                    cut=0,
                    inner=None)

# Clip the right half of each violin.
for item in ax.collections:
    x0, y0, width, height = item.get_paths()[0].get_extents().bounds
    item.set_clip_path(plt.Rectangle((x0, y0), width/2, height,
                       transform=ax.transData))

# Create strip plots with partially transparent points of different colors depending on the group.
num_items = len(ax.collections)
sns.stripplot(y='flight_distance',
              x='class',
              hue='satisfaction',
              data=df_cat,
              palette=['blue', 'deepskyblue'],
              alpha=0.4,
              size=7)

# Shift each strip plot strictly below the correponding volin.
for item in ax.collections[num_items:]:
    item.set_offsets(item.get_offsets() + 0.15)
    
# Create narrow boxplots on top of the corresponding violin and strip plots, with thick lines, the mean values, without the outliers.
sns.boxplot(y='flight_distance',
            x='class',
            data=df_cat,
            width=0.25,
            showfliers=False, showmeans=True, 
            meanprops=dict(marker='o', markerfacecolor='darkorange',
                           markersize=10, zorder=3),
            boxprops=dict(facecolor=(0,0,0,0), 
                          linewidth=3, zorder=3),
            whiskerprops=dict(linewidth=3),
            capprops=dict(linewidth=3),
            medianprops=dict(linewidth=3))

plt.legend(frameon=False, fontsize=15, loc='upper left')